<ion-view title="AB-ABEGAZ TRADING P.L.C" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="aBABEGAZTRADINGPLC-list9">
      <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item24">
        <i class="icon ion-android-bulb"></i>Aluminum Work</ion-item>
      <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item42">
        <i class="icon ion-android-phone-portrait"></i> 09 30 03 32 33/11 34 43 15</ion-item>
      <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item25" href="tel:0112777622">
        <i class="icon ion-android-call"></i>0112 77 76 22</ion-item>
      <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item43">
        <i class="icon ion-ios-printer-outline"></i> 0112 77 76 23</ion-item>
      <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item17">
        <i class="icon ion-android-mail"></i>info@ababegaz.com</ion-item>
      <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item26">
        <i class="icon ion-ios-world"></i>www.ababegaz.com</ion-item>
    </ion-list>
  </ion-content>
</ion-view>