<ion-view title="ABAY BANK S.C" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="aBAYBANKSC-list12">
      <ion-item class="item-icon-left dark" id="aBAYBANKSC-list-item48">
        <i class="icon ion-android-bulb"></i> Bank</ion-item>
      <ion-item class="item-icon-left dark" id="aBAYBANKSC-list-item88">
        <i class="icon ion-android-call"></i>0115 15 87 82</ion-item>
      <ion-item class="item-icon-left dark" id="aBAYBANKSC-list-item89">
        <i class="icon ion-ios-printer-outline"></i> 5887</ion-item>
      <ion-item class="item-icon-left dark" id="aBAYBANKSC-list-item91">
        <i class="icon ion-ios-world"></i>www.abaybank.com.et</ion-item>
    </ion-list>
  </ion-content>
</ion-view>