<ion-view title="About" id="page6">
  <ion-content padding="true" class="has-header">
    <h4 id="about-heading1" style="color:#000000;font-weight:300;text-align:center;"></h4>
    <div>
      <img src="img/zfHO18hLSneJFpL2KHnL_blucapm.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="about-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>BLUE CAMP Media &amp; Entertainment PLC</strong>
        COMPANY PROFILE Blue Camp Media &amp; Entertainment PLC is a company which established as EC 2000AD with registered capital 100,000.00 Birr and the founders are 6 Ethiopian investors and focused on media, promotion &amp; entertainment activities. By now
        this company have 45 full and 16 part time works and the annual turnover became around 6,000,000.00 Birr</p>
    </div>
  </ion-content>
</ion-view>