<ion-view title="Aluminum" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/y7vuh5wFTHynwnTebq3w_DirectoryLogo.JPG" style="display: block; width: 50%; height: 80%; margin-left: auto; margin-right: auto;">
    </div>
    <form id="aluminum-form2" class="list">
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <div class="spacer" style="width: 300px; height: 8px;"></div>
      <ion-item class="dark" id="aluminum-list-item10" ui-sref="aBABEGAZTRADINGPLC()">AB-ABEGAZ TRADING P.L.C</ion-item>
      <ion-item class="dark" id="aluminum-list-item92" ui-sref="aBABEGAZTRADINGPLC()">ABBAHAWA TRADING PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item93" ui-sref="aBABEGAZTRADINGPLC()">ABH GLASS &amp; ALUMINUM WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item94" ui-sref="aBABEGAZTRADINGPLC()">ABSTRACT BUILDING FINISHING WORKS &amp; TRAINING CENTER</ion-item>
      <ion-item class="dark" id="aluminum-list-item95" ui-sref="aBABEGAZTRADINGPLC()">ACO MEX SETS PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item96" ui-sref="aBABEGAZTRADINGPLC()">AKCON ENGINEERING GENERAL TRADING PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item97" ui-sref="aBABEGAZTRADINGPLC()">AKWOS BUILDING CONSTRUCTION &amp; ALUMINUM P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item98" ui-sref="aBABEGAZTRADINGPLC()">AKWOS BUILDING CONSTRUCTION &amp; ALUMINUM P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item99" ui-sref="aBABEGAZTRADINGPLC()">ALEM &amp; DEMS METAL &amp; ALUMINUM WORKS</ion-item>
      <ion-item class="dark" id="aluminum-list-item100" ui-sref="aBABEGAZTRADINGPLC()">AL-PLUS TS ALUMINUM &amp; FINISHING WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item101" ui-sref="aBABEGAZTRADINGPLC()">ALU ADDIS P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item102" ui-sref="aBABEGAZTRADINGPLC()">ALU-ACC BUSINESS P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item103" ui-sref="aBABEGAZTRADINGPLC()">ASAL ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item104" ui-sref="aBABEGAZTRADINGPLC()">ASRAT GENERAL METAL &amp; ALUMINUM WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item105" ui-sref="aBABEGAZTRADINGPLC()">B &amp; C ALUMINUM P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item106" ui-sref="aBABEGAZTRADINGPLC()">B SMART ALUMINUM TRADING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item107" ui-sref="aBABEGAZTRADINGPLC()">BAMSONS BUSINESS PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item108" ui-sref="aBABEGAZTRADINGPLC()">BATI ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item109" ui-sref="aBABEGAZTRADINGPLC()">BEKOM ALUMINUM &amp; METALS ENGINEERING PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item110" ui-sref="aBABEGAZTRADINGPLC()">BEREKET KINFE WOOD WORK METAL &amp; ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item111" ui-sref="aBABEGAZTRADINGPLC()">BK ALUMINUM &amp; METAL WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item112" ui-sref="aBABEGAZTRADINGPLC()">BONANZA ALUMINUM &amp; PVC WORKS</ion-item>
      <ion-item class="dark" id="aluminum-list-item113" ui-sref="aBABEGAZTRADINGPLC()">BRICK PRODUCTS PROCESSING SHARE COMPANY</ion-item>
      <ion-item class="dark" id="aluminum-list-item114" ui-sref="aBABEGAZTRADINGPLC()">BT ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item115" ui-sref="aBABEGAZTRADINGPLC()">CEBU TRADING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item116" ui-sref="aBABEGAZTRADINGPLC()">CHARGER GENERAL BUSINESS PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item117" ui-sref="aBABEGAZTRADINGPLC()">DABAK ALUMINUM PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item118" ui-sref="aBABEGAZTRADINGPLC()">DELINA ALUMINUM &amp; PVC WORKS PLC.</ion-item>
      <ion-item class="dark" id="aluminum-list-item119" ui-sref="aBABEGAZTRADINGPLC()">EA TRADING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item120" ui-sref="aBABEGAZTRADINGPLC()">ELDES ENGINEERING PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item121" ui-sref="aBABEGAZTRADINGPLC()">EMD CONSTRUCTION FINISHING WORKS AND TRAINING CENTER</ion-item>
      <ion-item class="dark" id="aluminum-list-item122" ui-sref="aBABEGAZTRADINGPLC()">ESAYAS METAL &amp; ALUMINUM WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item123" ui-sref="aBABEGAZTRADINGPLC()">ETHIO CERAMICS</ion-item>
      <ion-item class="dark" id="aluminum-list-item124" ui-sref="aBABEGAZTRADINGPLC()">ETHIO VIEW ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item127" ui-sref="aBABEGAZTRADINGPLC()">ETHIOPIAN TRADE CONTACT P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item125" ui-sref="aBABEGAZTRADINGPLC()">ETM ALUMINUM WORKS PLC.</ion-item>
      <ion-item class="dark" id="aluminum-list-item128" ui-sref="aBABEGAZTRADINGPLC()">FANTECH ENGINEERING PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item129" ui-sref="aBABEGAZTRADINGPLC()">FIKRU KASSAYE ALUMINUM WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item130" ui-sref="aBABEGAZTRADINGPLC()">GIRMA DESALEGN GENERAL METAL &amp; ALUMINUM WORKS</ion-item>
      <ion-item class="dark" id="aluminum-list-item131" ui-sref="aBABEGAZTRADINGPLC()">GM ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item132" ui-sref="aBABEGAZTRADINGPLC()">GOLLAGUL TRADING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item133" ui-sref="aBABEGAZTRADINGPLC()">GRASEL TRADING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item134" ui-sref="aBABEGAZTRADINGPLC()">HABTAMU SILLA PLASTIC FACTORY</ion-item>
      <ion-item class="dark" id="aluminum-list-item135" ui-sref="aBABEGAZTRADINGPLC()">HAMER GENERAL GYPSUM WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item136" ui-sref="aBABEGAZTRADINGPLC()">HENOK WATER PROOFING AND ALUMINUM WORKS</ion-item>
      <ion-item class="dark" id="aluminum-list-item137" ui-sref="aBABEGAZTRADINGPLC()">IKHLAS FINISHING PRODUCT INDUSTRY &amp; TRADE P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item138" ui-sref="aBABEGAZTRADINGPLC()">INFINITY ENGINEERING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item139" ui-sref="aBABEGAZTRADINGPLC()">INTER AFRICA EXTRUSION</ion-item>
      <ion-item class="dark" id="aluminum-list-item140" ui-sref="aBABEGAZTRADINGPLC()">JERRY MARAKI ENGINEERING PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item141" ui-sref="aBABEGAZTRADINGPLC()">JEVIS ALUMINUM PLC.</ion-item>
      <ion-item class="dark" id="aluminum-list-item142" ui-sref="aBABEGAZTRADINGPLC()">JONTED METAL,ALUMINUM &amp; WOOD WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item143" ui-sref="aBABEGAZTRADINGPLC()">K.T GENERAL ALUMINUM WORKS ENTERPRISE</ion-item>
      <ion-item class="dark" id="aluminum-list-item144" ui-sref="aBABEGAZTRADINGPLC()">KYZ ALUMINUM WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item145" ui-sref="aBABEGAZTRADINGPLC()">LAGGIO ALUMINUM P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item146" ui-sref="aBABEGAZTRADINGPLC()">LEED BUILDING TECHNOLOGY &amp; TRADING</ion-item>
      <ion-item class="dark" id="aluminum-list-item147" ui-sref="aBABEGAZTRADINGPLC()">LTZ TECHNICAL SOLUTION P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item148" ui-sref="aBABEGAZTRADINGPLC()">MAAKA BUILDING FINISHING SERVICES</ion-item>
      <ion-item class="dark" id="aluminum-list-item149" ui-sref="aBABEGAZTRADINGPLC()">MEKONNEN NEGASH ALUMINUM IMPORTER &amp; DISTRIBUTER</ion-item>
      <ion-item class="dark" id="aluminum-list-item150" ui-sref="aBABEGAZTRADINGPLC()">MEND 1 ALUMINUM &amp; GLASS WORK P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item151" ui-sref="aBABEGAZTRADINGPLC()">MESFIN GENERAL SHATER &amp; ALUMINUM WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item152" ui-sref="aBABEGAZTRADINGPLC()">MINA ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item153" ui-sref="aBABEGAZTRADINGPLC()">NATANIM ALUMINUM WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item154" ui-sref="aBABEGAZTRADINGPLC()">NOLE TECH ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item155" ui-sref="aBABEGAZTRADINGPLC()">PARADAYZ ALUMINUM &amp; GLASS WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item156" ui-sref="aBABEGAZTRADINGPLC()">PRISMA ENGINEERING AND TECHNICAL SERVICE</ion-item>
      <ion-item class="dark" id="aluminum-list-item157" ui-sref="aBABEGAZTRADINGPLC()">PROFESSIONAL ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item158" ui-sref="aBABEGAZTRADINGPLC()">S.SARA ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item159" ui-sref="aBABEGAZTRADINGPLC()">SAB BELL P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item160" ui-sref="aBABEGAZTRADINGPLC()">SABE P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item161" ui-sref="aBABEGAZTRADINGPLC()">SALEM ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item162" ui-sref="aBABEGAZTRADINGPLC()">SELO ALUMINUM WORKS</ion-item>
      <ion-item class="dark" id="aluminum-list-item163" ui-sref="aBABEGAZTRADINGPLC()">SETS GENERAL TRADING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item164" ui-sref="aBABEGAZTRADINGPLC()">SHARP ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item165" ui-sref="aBABEGAZTRADINGPLC()">SHINING STONE INTENATIONAL BUSINESS PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item166" ui-sref="aBABEGAZTRADINGPLC()">SINPHONY COMMERCE AND INDUSTRIY P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item167" ui-sref="aBABEGAZTRADINGPLC()">SKY ALUMINUM WORK P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item168" ui-sref="aBABEGAZTRADINGPLC()">SKY STANDARD BUSINESS P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item169" ui-sref="aBABEGAZTRADINGPLC()">SOLODA ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item170" ui-sref="aBABEGAZTRADINGPLC()">SYNERGY ALUMINUM TECHNIQUE PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item171" ui-sref="aBABEGAZTRADINGPLC()">TESFAYE &amp; HIS FAMILY WOOD WORKS</ion-item>
      <ion-item class="dark" id="aluminum-list-item172" ui-sref="aBABEGAZTRADINGPLC()">TEWODROS BELETE MACHINERY RENTAL</ion-item>
      <ion-item class="dark" id="aluminum-list-item173" ui-sref="aBABEGAZTRADINGPLC()">TGB ALUMINUM</ion-item>
      <ion-item class="dark" id="aluminum-list-item174" ui-sref="aBABEGAZTRADINGPLC()">THREE SAM ALUMINUM PLC.</ion-item>
      <ion-item class="dark" id="aluminum-list-item175" ui-sref="aBABEGAZTRADINGPLC()">TINZIT TRADE INDUSTRY PLC.</ion-item>
      <ion-item class="dark" id="aluminum-list-item176" ui-sref="aBABEGAZTRADINGPLC()">TOPA ALUMINUM &amp; GLASS WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item177" ui-sref="aBABEGAZTRADINGPLC()">TRACON ALUMINUM WORK</ion-item>
      <ion-item class="dark" id="aluminum-list-item178" ui-sref="aBABEGAZTRADINGPLC()">TWO W ENGINEERING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item179" ui-sref="aBABEGAZTRADINGPLC()">TYWOBE ALUMINUM &amp; STAINLESS STEEL WORKS</ion-item>
      <ion-item class="dark" id="aluminum-list-item180" ui-sref="aBABEGAZTRADINGPLC()">ULTRA SAFE SPECIAL CONTRACTOR</ion-item>
      <ion-item class="dark" id="aluminum-list-item181" ui-sref="aBABEGAZTRADINGPLC()">VISION ALUMINUM MANUFACTURING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item182" ui-sref="aBABEGAZTRADINGPLC()">WARYT BUSINESS GROUP</ion-item>
      <ion-item class="dark" id="aluminum-list-item183" ui-sref="aBABEGAZTRADINGPLC()">WINDL BUILDING SYSTEMS TECHNOLOGY P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item184" ui-sref="aBABEGAZTRADINGPLC()">YABISHO ALUMINUM &amp; METAL</ion-item>
      <ion-item class="dark" id="aluminum-list-item185" ui-sref="aBABEGAZTRADINGPLC()">YACON ENGINEERING PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item186" ui-sref="aBABEGAZTRADINGPLC()">YETEWO ALUMINUM ENGINEERING P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item187" ui-sref="aBABEGAZTRADINGPLC()">YONKAN ALUMINUM IMPORT PLC</ion-item>
      <ion-item class="dark" id="aluminum-list-item188" ui-sref="aBABEGAZTRADINGPLC()">YUTAF ALUMINUM P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item189" ui-sref="aBABEGAZTRADINGPLC()">ZEAGO AND SONA P.L.C.</ion-item>
      <ion-item class="dark" id="aluminum-list-item190" ui-sref="aBABEGAZTRADINGPLC()">ZELALEM SOLOMON ALUMINUM &amp; INTERIOR DESIGN WORKS</ion-item>
      <ion-item class="dark" id="aluminum-list-item191" ui-sref="aBABEGAZTRADINGPLC()">ZFG INDUSTRIAL ENGINEERING</ion-item>
      <ion-item class="dark" id="aluminum-list-item192" ui-sref="aBABEGAZTRADINGPLC()">ZOBLE ALUMINUM WORKS &amp; IMPORTER</ion-item>
    </form>
  </ion-content>
</ion-view>