<ion-view title="Bank" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/y7vuh5wFTHynwnTebq3w_DirectoryLogo.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="bank-form3" class="list">
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <div class="spacer" style="width: 300px; height: 8px;"></div>
      <ion-item class="dark" id="bank-list-item44" ui-sref="aBAYBANKSC()">ABAY BANK S.C</ion-item>
      <ion-item class="dark" id="bank-list-item194" ui-sref="aBAYBANKSC()">ABYSSINIA BANK</ion-item>
      <ion-item class="dark" id="bank-list-item195" ui-sref="aBAYBANKSC()">ADDIS INTERNATIONAL BANK</ion-item>
      <ion-item class="dark" id="bank-list-item196" ui-sref="aBAYBANKSC()">AFRICAN DEVELOPMENT BANK</ion-item>
      <ion-item class="dark" id="bank-list-item197" ui-sref="aBAYBANKSC()">ANBESA INTERNATIONAL BANK</ion-item>
      <ion-item class="dark" id="bank-list-item198" ui-sref="aBAYBANKSC()">AWASH INTERNATIONAL BANK</ion-item>
      <ion-item class="dark" id="bank-list-item199" ui-sref="aBAYBANKSC()">BERHAN BANK</ion-item>
      <ion-item class="dark" id="bank-list-item200" ui-sref="aBAYBANKSC()">BUNA INTERNATIONAL BANK</ion-item>
      <ion-item class="dark" id="bank-list-item201" ui-sref="aBAYBANKSC()">COMMERCIAL BANK OF ETHIOPIA</ion-item>
      <ion-item class="dark" id="bank-list-item202" ui-sref="aBAYBANKSC()">COOPERATIVE BANK OF OROMIA S.C.</ion-item>
      <ion-item class="dark" id="bank-list-item203" ui-sref="aBAYBANKSC()">DEBUB GLOBAL BANK</ion-item>
      <ion-item class="dark" id="bank-list-item204" ui-sref="aBAYBANKSC()">DEVELOPMENT BANK OF ETHIOPIA</ion-item>
      <ion-item class="dark" id="bank-list-item205" ui-sref="aBAYBANKSC()">ENAT BANK</ion-item>
      <ion-item class="dark" id="bank-list-item206" ui-sref="aBAYBANKSC()">NIB INTERNATIONAL BANK</ion-item>
      <ion-item class="dark" id="bank-list-item207" ui-sref="aBAYBANKSC()">OROMIA INTERNATIONAL BANK</ion-item>
      <ion-item class="dark" id="bank-list-item208" ui-sref="aBAYBANKSC()">UNITED BANK S.C.</ion-item>
      <ion-item class="dark" id="bank-list-item209" ui-sref="aBAYBANKSC()">WEGAGEN BANK S.C.WEGAGEN BANK S.C.</ion-item>
      <ion-item class="dark" id="bank-list-item210" ui-sref="aBAYBANKSC()">WORLD BANK</ion-item>
      <ion-item class="dark" id="bank-list-item211" ui-sref="aBAYBANKSC()">ZEMEN BANK S.C.</ion-item>
    </form>
  </ion-content>
</ion-view>