<ion-view title="Bitumen" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/y7vuh5wFTHynwnTebq3w_DirectoryLogo.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="bitumen-form5" class="list">
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <div class="spacer" style="width: 300px; height: 8px;"></div>
      <ion-item class="dark" id="bitumen-list-item311" ui-sref="aBAYBANKSC()">ANG TRADING</ion-item>
      <ion-item class="dark" id="bitumen-list-item312" ui-sref="aBAYBANKSC()">AROZCO PETROCHEMICALS PLC</ion-item>
      <ion-item class="dark" id="bitumen-list-item313" ui-sref="aBAYBANKSC()">BEAEKA GENERAL BUSINESS P.L.C.</ion-item>
      <ion-item class="dark" id="bitumen-list-item314" ui-sref="aBAYBANKSC()">CORE CONSULTING ENGINEERS PLC</ion-item>
      <ion-item class="dark" id="bitumen-list-item315" ui-sref="aBAYBANKSC()">GUNA TRADING HOUSE P.L.C</ion-item>
      <ion-item class="dark" id="bitumen-list-item316" ui-sref="aBAYBANKSC()">NATIONAL OIL ETHIOPIA P.L.C.(NOC)</ion-item>
      <ion-item class="dark" id="bitumen-list-item317" ui-sref="aBAYBANKSC()">NORC AGRO AND INDUSTRIAL COMPLEX P.L.C.</ion-item>
      <ion-item class="dark" id="bitumen-list-item318" ui-sref="aBAYBANKSC()">TNB IMPORT &amp; EXPORT</ion-item>
      <ion-item class="dark" id="bitumen-list-item319" ui-sref="aBAYBANKSC()">TRANSPORT DESIGN AND SUPERVISION WORKS SECTOR</ion-item>
      <ion-item class="dark" id="bitumen-list-item320" ui-sref="aBAYBANKSC()">YTY CONSTRUCTION P.L.C.</ion-item>
    </form>
  </ion-content>
</ion-view>