<ion-view title="Brick &amp; Hydra Foam Block" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/y7vuh5wFTHynwnTebq3w_DirectoryLogo.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="brickHydraFoamBlock-form6" class="list">
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <div class="spacer" style="width: 300px; height: 8px;"></div>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item330" ui-sref="aBAYBANKSC()">A.B.M CONSTRUCTION PLC</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item331" ui-sref="aBAYBANKSC()">A.T.S BL P.L .C.</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item332" ui-sref="aBAYBANKSC()">ABADIR ENGINEERING PVT.LMT.CO.</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item333" ui-sref="aBAYBANKSC()">ADDIS BLOCK PRODUCTION</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item334" ui-sref="aBAYBANKSC()">ALADOR CONSTRUCTION PLC</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item335" ui-sref="aBAYBANKSC()">ASENAT CONSTRUCTION MATERIALS PRODUCTION &amp; SALES</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item336" ui-sref="aBAYBANKSC()">ATSREGA ENGINEERING PLC</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item337" ui-sref="aBAYBANKSC()">BH TRADING &amp; MANUFACTURER PLC</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item338" ui-sref="aBAYBANKSC()">BIRHANU ABERA BUILDING CONTRACTOR</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item339" ui-sref="aBAYBANKSC()">BRICK PRODUCTS PROCESSING SHARE COMPANY</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item340" ui-sref="aBAYBANKSC()">BUILDING MATERIALS SUPPLY ENTERPRISE</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item341" ui-sref="aBAYBANKSC()">CAPITAL BLOCK FACTORY</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item342" ui-sref="aBAYBANKSC()">DELO PRIVATE LIMITED COMPANY</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item343" ui-sref="aBAYBANKSC()">ETHIOPIAN MARBLE PROCESSING ENTERPRISE</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item344" ui-sref="aBAYBANKSC()">ETHIO-TURKISH BLOKET FACTORY</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item345" ui-sref="aBAYBANKSC()">ETS BLOCKET &amp; CONSTRUCTION MATERIAL MANUFACTURING P.L .C.</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item346" ui-sref="aBAYBANKSC()">GEBRU &amp; MAHLET BRICK PRODUCTION</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item347" ui-sref="aBAYBANKSC()">HAILEGEZI ALENE BUILDING CONTRACTOR &amp; HOLLOW BLOCK FACTORY</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item348" ui-sref="aBAYBANKSC()">HAMERTI FLOOR TILES &amp; CEMENT MANUFACTURING PLC</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item349" ui-sref="aBAYBANKSC()">HIWOT RAHMATO AND FRIENDS BRICK MANUFACTURING</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item350" ui-sref="aBAYBANKSC()">KALITY CONSTRUCTION MATERIAL PRODUCTION ENTER- PRISE</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item351" ui-sref="aBAYBANKSC()">MELESE GRAVEL PRODUCTION ENTERPRISE</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item352" ui-sref="aBAYBANKSC()">MIHRETE AB CONSTRUCTION PLC</ion-item>
      <ion-item class="dark" id="brickHydraFoamBlock-list-item353" ui-sref="aBAYBANKSC()">MODERN BUILDING INDUSTRIES P.L.C.</ion-item>
    </form>
  </ion-content>
</ion-view>