<ion-view title="Category INDEX" id="page5" style="background-color:#EDEEE9;">
  <ion-content padding="true" class="has-header">
    <div id="categoryINDEX-button-bar1" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 4px;"></div>
    <div>
      <img src="img/AdekuNWTHGGVl6gQPRLe_DS.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="categoryINDEX-list10">
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item29" ui-sref="aluminum()">
        <img src="img/NCynXARLTDCKkbC4OnrJ_Alimu.JPG">
        <h2dark>Aluminum Works &amp; Profiles</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item8">
        <img src="img/fHStjVARRKS47UQ15A9d_bank.JPG">
        <h2dark>Bank</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item9">
        <img src="img/ampRzdJ7REDFWjzIAbm9_Bitumen.JPG">
        <h2dark>Bitumen</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item14">
        <img src="img/ZbE0yuQtROGhfNfQUi2G_block.JPG">
        <h2dark>Brick &amp; Hydra Foam Block</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item15">
        <img src="img/EBIqQaw5TeyiELCXOz0i_car.JPG">
        <h2dark>Car Importer, Rent &amp; service</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item16">
        <img src="img/597odPqOQAqftEDkEAJI_cimen.JPG">
        <h2dark>Cement &amp; Related Products</h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="categoryINDEX-list11">
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item36" ui-sref="aluminum()">
        <img src="img/NCynXARLTDCKkbC4OnrJ_Alimu.JPG">
        <h2dark>Aluminum Works &amp; Profiles</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item37">
        <img src="img/fHStjVARRKS47UQ15A9d_bank.JPG">
        <h2dark>Bank</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item38">
        <img src="img/ampRzdJ7REDFWjzIAbm9_Bitumen.JPG">
        <h2dark>Bitumen</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item39">
        <img src="img/ZbE0yuQtROGhfNfQUi2G_block.JPG">
        <h2dark>Brick &amp; Hydra Foam Block</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item40">
        <img src="img/EBIqQaw5TeyiELCXOz0i_car.JPG">
        <h2dark>Car Importer, Rent &amp; service</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="categoryINDEX-list-item41">
        <img src="img/597odPqOQAqftEDkEAJI_cimen.JPG">
        <h2dark>Cement &amp; Related Products</h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>