<ion-view title="Contact" id="page7">
  <ion-content padding="true" class="has-header">
     <img src="img/contact/contact.JPG" style="display: block; width: 30%; height: auto; margin-left: 9%; margin-right: auto;">
    <ion-list id="contact-list6">
      <ion-item class="item-icon-left dark" id="contact-list-item11">
        <i class="icon ion-android-phone-portrait"></i>+2519-11235192</ion-item>
         <ion-item class="item-icon-left dark" id="contact-list-item11">
        <i class="icon ion-android-call"></i>0115-576927</ion-item>
        
          <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item26">
                        <i class="icon ion-ios-world"></i>www.conethiopia.com</ion-item>
      <ion-item class="item-icon-left dark" id="contact-list-item12">
        <i class="icon ion-android-mail"></i>info@conethiopia.com</ion-item>
         <ion-item class="item-icon-left dark" id="contact-list-item11">
        <i class="icon ion-ios-home"></i>#201-203</ion-item>
      <ion-item class="item-icon-left dark" id="contact-list-item13">
        <i class="icon ion-ios-location"></i>Addis Ababa -ETHIOPAI<br>ቅዱስ ኡራኤል ቤ/ክ ወደ ቴሌ መድሃኒአለም<br> 
በሚወስደው መንገድ </ion-item>
    </ion-list>
    <h4 id="contact-heading2" style="color:#000000;font-weight:300;">Google Map</h4>
    <creator-map-component options="{}" marker="true" location="Conethiopia" zoom="13" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <div class="spacer" style="width: 300px; height: 39px;"></div>
  </ion-content>
</ion-view>