<ion-view title="DefaultPage" hide-nav-bar="true" nav-transition="none" id="page9">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" id="defaultPage-slider2" style="width:100%;height:100%;">
      <ion-slide-page id="defaultPage-slide27" style="background:url(&quot;img/f5o96YQxRLCFA5dueH06_DefaultPage.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="defaultPage-slide22" style="background-color:#FFFFFF;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <a style="display:block;" ui-sref="ethiopianConstractionDirectories()">
                  <img src="img/HWVy731JTnSZ7sW4d0mA_ethiopiaconstractiondirc.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
                </a>
              </div>
              <div class="spacer" style="width: 300px; height: 59px;"></div>
              <a ui-sref="ethiopianConstractionDirectories()" id="defaultPage-button1" style="font-weight:600;color:#050505;border-radius:2px 2px 2px 2px;" class="button button-energized button-block">Enter To App!</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>