<ion-view title="Ethiopian Constraction Directories" hide-back-button="true" id="page2" style="background-color:#FAFAF0;">
 <div class="spacer" style="width: 300px; height: 43px;"></div>
 <ion-content  class="has-header">
   

  <div class="spacer" style="width: 300px; height: 210px;"></div>
  <ion-list id="ethiopianConstractionDirectories-list3">
    <ion-item class="item-avatar dark myclass" id="ethiopianConstractionDirectories-list-item7" ui-sref="Aluminum()">
      <img src="img/5YkpqefESni9notzHEox_Alimu.JPG">
      <h2dark>Aluminum Works &amp; Profiles</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item18" ui-sref="bank()">
      <img src="img/eztyzTI1TgaS5qScmNAx_bank.JPG">
      <h2dark>Bank</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item19" ui-sref="bitumen()">
      <img src="img/kCtGT6GXTJuQNNHSVVIB_Bitumen.JPG">
      <h2dark>Bitumen</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item20" ui-sref="brickproduction()">
      <img src="img/xjZ4m70KTQqb89a7jyEJ_block.JPG">
      <h2dark>Brick &amp; Hydra From Block</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item21" ui-sref="carimporter()">
      <img src="img/b1rre779QoyNpcrML6xm_car.JPG">
      <h2dark>Car Importer, Rent &amp; service</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item22" ui-sref="cementproduction()">
      <img src="img/xsARdFK7TVSEMpy7MPrA_cimen.JPG">
      <h2dark>Cement &amp; Related Products</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item23" ui-sref="Ceramic()">
      <img src="img/Z4rQTZXTIGvZbFlXUfaK_ceramics.JPG">
      <h2dark>Ceramics &amp; Sanitary Materials</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item27" ui-sref="ChipWood()">
      <img src="img/AGJJoak9Qhi9d1cEiEB9_cer.JPG">
      <h2dark>Chip wood &amp; Ply Woods</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item28" ui-sref="Cleaning()">
      <img src="img/dtBUKqVNTIyd7QgWgT24_CleaningService.JPG">
      <h2dark>Cleaning Service</h2dark>
    </ion-item>

<ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item30" ui-sref="communicationservice()">
      <img src="img/Communication System.JPG">
      <h2dark>Communication System</h2dark>
    </ion-item>

    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item30" ui-sref="ConstructionMachinery()">
      <img src="img/fHhgShWDT4q1MLsN4gW0_constractunmachinary.JPG">
      <h2dark>Construction Machinery</h2dark>
    </ion-item>
  
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item32" ui-sref="conveconstructionTrainingCenterrtcsv()">
      <img src="img/pa1tjx5QRzCzIeg1dI2g_constractiontradingcenter.JPG">
      <h2dark>Construction Training Center</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item33" ui-sref="Consultancy()">
      <img src="img/kXfqlbThTjyEQuZoPeAT_conselting.JPG">
      <h2dark>Consultants</h2dark>
    </ion-item>
      <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item31" ui-sref="ConstructionMaterial()">
      <img src="img/MjTlkENsTw2W6lbSrn1e_constractionmaterials.JPG">
      <h2dark>Construction Materials</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item34" ui-sref="construction()">
      <img src="img/iccWCbTsG6HOmmyURgQM_constractors.JPG">
      <h2dark>Contractors</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item35" ui-sref="door()">
      <img src="img/u0Y3cZuxTweg7YGAMRMs_doorlockaccessoriews.JPG">
      <h2dark>Door Locks &amp; Accessories</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item45" ui-sref="ElectricMaterialImporter()">
      <img src="img/vQ8r8DDQ8uIOdDAjiJRg_elctronicsmaterial.JPG">
      <h2dark>Electric Materials</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item46" ui-sref="ElectroMechanicalWork()">
      <img src="img/F4AFQTsIT6CkW5mKCSp0_elctrowork.JPG">
      <h2dark>Elector Mechanical Works</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item47" ui-sref="fiberglasswork()">
      <img src="img/xPj1LbUQeKbEk5EKMhDi_FiberGlassTank.JPG">
      <h2dark>Fiber Glass &amp; Tank</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item49" ui-sref="FinishingWork()">
      <img src="img/9Pt8QCu2S4iumru6owLc_FinishingWork.JPG">
      <h2dark>Finishing Work</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item50" ui-sref="FloorWall()">
      <img src="img/0uPKqvyqQfyNPZEGoNTj_FloorWallTerrazzo.JPG">
      <h2dark>Floor Wall &amp; Terrazzo</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item51" ui-sref="Furniture()">
      <img src="img/DUgu1RkTguLt6NldvnXw_FurnitureKitchenCabinet.JPG">
      <h2dark>Furniture &amp; Kitchen Cabinet</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item52" ui-sref="Generator()">
      <img src="img/8rRrUuyTqmeLhF9ZuhxE_Generator.JPG">
      <h2dark>Generator</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item53" ui-sref="GlassWork()">
      <img src="img/dHlG0DSTkBsz9Fju3wNj_Glazing.JPG">
      <h2dark>Glass Work</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item54" ui-sref="GypsumDécor()">
      <img src="img/74x2wIVTROeOKbyFomJv_GypsumBoard.JPG">
      <h2dark>Gypsum Board</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item55" ui-sref="Hotel()">
      <img src="img/zMeOgPCOSbud7GemPMnk_HotelResort.JPG">
      <h2dark>Hotel &amp; Resort</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item56" ui-sref="Installation()">
      <img src="img/2fTiSpuVR0KDUQCTrmoc_InstallationMaintenance.JPG">
      <h2dark>Installation &amp; Maintenance</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item57" ui-sref="Insurance()">
      <img src="img/7nWpdiTDT8dRSD4zat3v_Insurance.JPG">
      <h2dark>Insurance</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item58" ui-sref="InteriorDesign()">
      <img src="img/532CXjhHTAqUrcIBfcCr_InteriorDesignDecoration.JPG">
      <h2dark>Interior Design &amp; Decoration</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item59" ui-sref="LiftImporter()">
      <img src="img/sD66PpHNRCG15O73jruq_LiftElevatorEscalator.JPG">
      <h2dark>Lift,Elevator &amp; Escalator</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item60" ui-sref="MarbleGraniteProduction()">
      <img src="img/FvTxJw2kR7a1yJTWZTbz_MarbleGranite.JPG">
      <h2dark>Marble &amp; Granite</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item61" ui-sref="MetalWork()">
      <img src="img/mjERYziXScKfkTW9RX4v_Metalworksproducts.JPG">
      <h2dark>Metal works &amp; products</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item62" ui-sref="NailProduction()">
      <img src="img/mOiA0JS8QwCfioY8AaA8_Nails.JPG">
      <h2dark>Nails</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item63" ui-sref="oilPetroleum()">
      <img src="img/EUvBBnSoQIK6bbne3zsk_OilPetroleum.JPG">
      <h2dark>Oil &amp; Petroleum</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item64" ui-sref="Partition()">
      <img src="img/ysNn3x3aTZnhjr0qMwWC_Partition.JPG">
      <h2dark>Partition</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item65" ui-sref="PipeFitting()">
      <img src="img/yA289AbT1q5nfDbMXa2Q_PipesFittings.JPG">
      <h2dark>Pipes &amp; Fittings</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item66" ui-sref="PlasticMaterial()">
      <img src="img/MO5KARHcTWmFPR7FCLOh_Plasticmaterialsproducts.JPG">
      <h2dark>Plastic materials &amp; products</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item67" ui-sref="PVCCeiling()">
      <img src="img/cZ2A4FcWSW6TOCqZd6Pf_PvcProfiles.JPG">
      <h2dark>Pvc Profiles</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item68" ui-sref="QuartzPaint()">
      <img src="img/jL8MPH6iRhCEcp9Ej6Y6_QuartzPaints.JPG">
      <h2dark>Quartz &amp; Paints</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item69" ui-sref="ReinforcementBar()">
      <img src="img/KxEAI9JbRjiLQFt7tQ7c_REINFORCEMENTbarSteel.JPG">
      <h2dark>REINFORCEMENT bar &amp; Steel</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item70" ui-sref="RealEstate()">
      <img src="img/4yNpRB7TK2RTs7FII6f9_RealEstate.JPG">
      <h2dark>Real Estate</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item71" ui-sref="RoofTiles()">
      <img src="img/Dau7PWNlQx2JfJlpw55r_RoofTiles.JPG">
      <h2dark>Roof Tiles</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item72" ui-sref="SafetyEquipments()">
      <img src="img/C8EMXamkTvuOZDb6yOCs_SafetyEquipments.JPG">
      <h2dark>Safety Equipments</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item73" ui-sref="SandGravel()">
      <img src="img/F9aKAWzkRVgK0krEV9ln_SandAggregate.JPG">
      <h2dark>Sand &amp; Aggregate</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item74" ui-sref="Scaffolding()">
      <img src="img/NDWRNkdtRF2B9t6eMCG0_ScaffoldingPanel.JPG">
      <h2dark>Scaffolding &amp; Panel</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item75" ui-sref="SoilTestRelatedWorks()">
      <img src="img/k2w2jwL4So6zYWHuEmYi_SoilTestEquipments.JPG">
      <h2dark>Soil Test &amp; Equipments</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item76" ui-sref="SparePart()">
      <img src="img/ovi5HIG0RziqhDyqKvc6_Spareparts.JPG">
      <h2dark>Spare parts</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item77" ui-sref="StoneArt()">
      <img src="img/LSrJvevuTUavJZEgTkFl_Stone.JPG">
      <h2dark>Stone</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item78" ui-sref="TimberImporter()">
      <img src="img/wHDrDjTTSw2bSd2gJQJU_TimberEucalyptus.JPG">
      <h2dark>Timber &amp; Eucalyptus</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item79" ui-sref="TourTravel()">
      <img src="img/8i8yhEkPTwyg9YuObgI9_TourTravelDomesticFlights.JPG">
      <h2dark>Tour &amp; Travel(Domestic Flights)</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item80" ui-sref="Transport()">
      <img src="img/lTQjo3JZQpikeWzFPCjb_TransportTransit.JPG">
      <h2dark>Transport &amp; Transit</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item81" ui-sref="Tyre()">
      <img src="img/AGEj8d8FRsWBvlv4eeI6_Tyre.JPG">
      <h2dark>Tyre</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item82" ui-sref="WaterProofing()">
      <img src="img/dI5BFdN4RCG7O7pDafDf_WaterProofingConstructionchemicals.JPG">
      <h2dark>Water Proofing &amp; Construction chemicals</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item83" ui-sref="WaterPump()">
      <img src="img/UHLshe1USpqkF4eYCol0_WaterPump.JPG">
      <h2dark>Water Pump</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item84" ui-sref="WaterWellDrilling()">
      <img src="img/Water Well Drilling2.JPG">
      <h2dark>Water Well Drilling</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item85" ui-sref="WireProduction()">
      <img src="IMG/CABELa.JPG">
      <h2dark>Wire &amp; Cable</h2dark>
    </ion-item>
    <ion-item class="item-avatar dark" id="ethiopianConstractionDirectories-list-item86" ui-sref="WoodWork()">
      <img src="img/leFmiLloQb2SbGPnICa0_WireCable.JPG">
      <h2dark>Wood Work</h2dark>
    </ion-item>
    <br>  <br>
  </ion-list>
  
</ion-content>
<ion-slide-box style="width:100%;height:200px;" options="options" slider="slider" on-slide-changed="slideHasChanged($index)" auto-play="true"  does-continue="true">
 <ion-slide>
   <img style="width:100%;height:200px;" id="ethiopianConstractionDirectories-slide25" src="img/slide/1.JPG" no-repeat center;background-size:cover;">
 </ion-slide>
 <ion-slide>
   <img style="width:100%;height:200px;" id="ethiopianConstractionDirectories-slide25" src="img/slide/2.JPG" no-repeat center;background-size:cover;">
 </ion-slide>
 <ion-slide>
   <img style="width:100%;height:200px;" id="ethiopianConstractionDirectories-slide25" src="img/slide/3.JPG" no-repeat center;background-size:cover;">
 </ion-slide>

 <ion-slide>
   <img style="width:100%;height:200px;" id="ethiopianConstractionDirectories-slide25" src="img/slide/4.JPG" no-repeat center;background-size:cover;">
 </ion-slide>

 <ion-slide>
   <img style="width:100%;height:200px;" id="ethiopianConstractionDirectories-slide25" src="img/slide/5.JPG" no-repeat center;background-size:cover;">
 </ion-slide>

 <ion-slide>
   <img style="width:100%;height:200px;" id="ethiopianConstractionDirectories-slide25" src="img/slide/6.JPG" no-repeat center;background-size:cover;">
 </ion-slide>
 <ion-slide>
   <img style="width:100%;height:200px;" id="ethiopianConstractionDirectories-slide25" src="img/slide/7.JPG" no-repeat center;background-size:cover;">
 </ion-slide>
</ion-slide-box>
<br>  
<br>
<div class = "bar bar-footer">
 <marquee> 
  <img src="img/slide footer/footerslide/S1.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S2.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S3.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S4.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S5.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S6.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S7.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S8.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S9.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S10.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S11.PNG" width="50" height="30"><img src="img/slide footer/footerslide/S12.PNG" width="50" height="30">
</marquee>
</div>
</ion-view>