<ion-view title="More">  
<ion-content 
  class="has-subheader">


   <center> 
    <img style="width: 60%; height: auto;" id="ethiopianConstractionDirectories-slide25" src="img/slide/1.JPG" no-repeat center;background-size:cover;">
  </center>
        <!--div class="button-bar">
            <button class="button button-positive button-clear button-block  icon ion-android-cart"></button>
            <button class="button button-assertive button-clear button-block  icon ion-android-favorite-outline"></button>
            <button class="button button-balanced button-clear button-block  icon ion-share"></button>
          </div-->
          <div class="list card">
           <div class="item item-divider"><p>Description To  {{COMPANY}}</p></div>
           <ion-list id="aBAYBANKSC-list12">
            <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item24">
              <i class="icon ion-android-bulb"></i>{{COMPANY}}</ion-item>
              <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item42">
                <i class="icon ion-android-phone-portrait"></i>{{MOBILE}}</ion-item>
                <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item25" href="tel:{{MOBILE}}">
                  <i class="icon ion-android-call"></i>{{TELEPHONE}}</ion-item>
                  <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item43">
                    <i class="icon ion-ios-printer-outline"></i>{{FAX}}</ion-item>
                    <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item17">
                      <i class="icon ion-android-mail"></i>{{EMAIL}}</ion-item>
                      <ion-item class="item-icon-left dark" id="aBABEGAZTRADINGPLC-list-item26">
                        <i class="icon ion-ios-world"></i>{{WEBSITE}}</ion-item>
                      </ion-list>
                    </div>
                  </ion-content>
                </ion-view>




